body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica, sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;    
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* Header */

.menu-bg,
.menu {
    max-width: 960px;
    height: 80px;
    margin:  0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu-logo{
    margin: 0 auto;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 14px;
    display: block;
    padding: 10px;
    color:#000000;
}

.menu-search {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.menu-profile {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu-profile-text {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    color:#000000;
}

.menu-profile-text a {
    color:#000000;
}

.menu-minicart {
    margin: 0 auto;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* Slides */

.slider-column{
    display: flex;
    width: 50%;
    justify-content: space-between;
    height: 400px;
}


/* Products */

.product-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.card {
    width: 24%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius:10px;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translate(0px, -8px);
    transition: .6s;
}

.card img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card  p {
    text-align: center;
    color: #4d4d4d;
    padding: 0 8px;
    margin-top: 2px;
}

.card h6 {
    font-size: 18px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin: 2px;
}





